//output: index.html
html
  head
    title Portfolio
    link(rel="stylesheet", href="/assets/bootstrap-3.3.7-dist/css/bootstrap.min.css")
    script(type="application/dart", src="main.dart")
    script(src="packages/browser/dart.js")
  base(href="/")
  body
    my-app Loading ...
    script(src="/assets/jquery-3.1.1-dev/jquery-3.1.1.js")
    script(src="/assets/bootstrap-3.3.7-dist/js/bootstrap.min.js")
    
