//out: portfolio.css

body
  background-color: #222

#intro
  color: #eee
  background-color: #333
  margin-top: -20px
  text-align: center
  img
    margin: 0 auto
    height: 300px


  #text
    margin: 0 auto


#skills
  background-color: #222
  margin-top: -30px
