//output: navbar_component.html
div.navbar.navbar-dark.bg-inverse.navbar-static-top
  ul.nav.navbar-nav
    li.nav-item.active
      a.nav-link([routerLink]="['./Admin']") Admin
    li.nav-item.active
      a.nav-link Info
    li.nav-item.active
      a.nav-link Contact
